{% set ruta = "contents/reserva-habitacion.png"|media  %}
<section  class="full-width intro-parallax section-narrow"
style="background-image:url('{{ruta}}'); height:50vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
              <!--<h3 class="wow bounceIn" data-wow-delay="0.9s">vive en grande en los mejores Hoteles del País</h3>-->
                <h1 class="wow fadeInUp" data-wow-delay="1.6s">{{titulo}}</h1>
              <!--  <a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">LEARN MORE</a>-->
              <!--  <a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">REGISTER NOW</a>-->
            </div>
        </div>
    </div>
</section>
