<section class="parallax-section" id="detail">
	<div class="container-fluid">
		<div class="row">
			<div class="wow fadeInLeft col-md-4 col-sm-4" data-wow-delay="0.3s"><i class="fa fa-mobile-alt"></i>

				<h3>Reserva Online Fácil,
					<br>Seguro y al Mejor Precio</h3>

				<p>
					<br>
				</p>
			</div>
			<div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s"><i class="fa fa-briefcase"></i>

				<h3>Hoteles de Negocios
					<br>en Valencia y Maracay</h3>

				<p>
					<br>
				</p>
			</div>
			<div class="wow fadeInRight col-md-4 col-sm-4" data-wow-delay="0.9s"><i class="fa fa-umbrella-beach"></i>

				<h3>Hoteles en Isla Margarita:
					<br>¡Vacaciones para Todos!</h3>

				<p>
					<br>
				</p>
			</div>
		</div>
	</div>
</section>