<div class="container-fluid parallax-section" id="eventos-index">
	<div class="section-title text-center">

		<h2>Servicios &nbsp;destacados</h2>

		<p><strong>Déjanos acompañarte en los momentos importantes de la vida</strong></p>
	</div>
	<div class="slider-3-items">
		<div class="col-xs-12 col-sm-12 col-md-12 item">
			<div class="thumbnail"><img src="/storage/app/media/Hotel_0000_Hesperia%20Bodas.jpg" alt="" class="fr-fic fr-dii">
				<div class="caption">

					<h4 class="text-center">Bodas en la playa</h4>

					<p class="text-center">La historia de amor de tu vida, merece ser celebrada con la fiesta de tus sueños</p>

					<p class="text-center"><a class="btn btn-primary" href="https://hoteleshesperia.com.ve/servicio/bodas-en-la-playa">Más Información</a></p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 item">
			<div class="thumbnail"><img src="/storage/app/media/Hotel_0002_Hesperia%20Meeting.jpg" alt="" class="fr-fic fr-dii">
				<div class="caption">

					<h4 class="text-center">Eventos corporativos</h4>

					<p class="text-center">Tu próxima reunión o evento corporativo será todo un éxito con Hesperia Meetings</p>

					<p class="text-center"><a class="btn btn-primary" href="https://hoteleshesperia.com.ve/servicio/salones-y-eventos">Más Información</a></p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 item">
			<div class="thumbnail"><img src="/storage/app/media/HEC/Servicios%20900x350/Hotel_0003_Hesperia%20Eden%20Club.jpg" alt="" class="fr-fic fr-dii">
				<div class="caption">

					<h4 class="text-center">Hesperia SPA</h4>

					<p style="text-align: center;">Disfruta de servicios exclusivos de belleza y salud con<span style="background-color: transparent;"></span><span style="background-color: transparent;">&nbsp;Hesperia Spa</span></p>

					<p class="text-center"><a class="btn btn-primary" href="https://hoteleshesperia.com.ve/servicio/hesperia-spa">Más Información</a></p>
				</div>
			</div>
		</div>
	</div>
</div>