<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Hesperia Venezuela</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{'inicio'|page}}"    class="smoothScroll">Inicio</a></li>
                <li><a href="{{'hoteles'|page}}" class="smoothScroll">Hoteles</a></li>
                <li><a href="#speakers" class="smoothScroll">Paquetes</a></li>
                <li><a href="{{'restaurantes'|page}}"  class="smoothScroll">Restaurantes</a></li>
                <li><a href="{{'blog'|page}}" class="smoothScroll">Blog</a></li>
            </ul>
        </div>

    </div>
</div>
