<section class="full-width intro-parallax" id="banner-reserva-hab" style="background-image:url('http://hoteleshesperia.com.ve/storage/app/media/contents/restaurantes-hesperia.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1 class="wow fadeInUp" data-wow-delay="1.6s">Restaurantes Hesperia</h1>
			</div>
		</div>
	</div>
</section>
<div class="container-luid text-center">

	<h2 class="page-header">¡Encuentra tu restaurante!</h2>

	<p class="lead">Deleita tu paladar con nuestros exquisitos platillos.</p>
</div>