[viewBag]
title = "Contenido no encontrado"
url = "/404"
layout = "layout-basico"
is_hidden = 0
navigation_hidden = 0
meta_title = "Contenido no encontrado"
meta_description = "El contenido al que intentas acceder no ha sido encontrado"
titulo = "Contenido no encontrado"
banner = "/contents/reserva-habitacion.png"
seo_title = "Contenido no encontrado"
seo_description = "El contenido al que intentas acceder no ha sido encontrado"
robot_index = "index"
robot_follow = "follow"
==
<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">

		<h1 class="text-center"><i class="fa fa-times-circle fa-3x"></i>
			<br>Houston, tenemos un problema</h1>

		<p class="lead">El contenido al que intentas acceder no ha sido encontrado, no te preocupes, si quieres reservar haz click <a class="btn btn-primary" href="https://hoteleshesperia.com.ve/reservar-habitacion">Aquí</a></p>

		<p class="text-center"><a href="https://hoteleshesperia.com.ve/">Volver a la página principal</a></p>
	</div>
</div>