[viewBag]
title = "Error encontrado"
url = "/error"
layout = "layout-basico"
is_hidden = 0
navigation_hidden = 0
meta_title = "Error encontrado"
meta_description = "Al parecer ha ocurrido un error, intenta nuevamente"
banner = "/contents/reserva-habitacion.png"
seo_title = "Error encontrado"
seo_description = "Al parecer ha ocurrido un error, intenta nuevamente"
seo_keywords = "Al parecer ha ocurrido un error, intenta nuevamente"
robot_index = "index"
robot_follow = "follow"
==
<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">

		<h1 class="text-center"><i class="fa fa fa-meh-o fa-3x"></i>
			<br>¡Vaya! Al parecer ha ocurrido un error</h1>

		<p class="lead text-center">No te preocupes, si tienes problemas ejecutando alguna acción intenta nuevamente y si no se soluciona escribamos a <strong>Info@hoteleshesperia.com.ve</strong> explicando tu caso y enseguida te ayudaremos</p>

		<p class="text-center"><a href="{{'prueba'%7CstaticPage}}">Volver a la página principal</a></p>
	</div>
</div>