[viewBag]
title = "Party"
url = "/54634367"
layout = "layout-blank"
is_hidden = 0
navigation_hidden = 0
meta_title = "Partai"
meta_description = "Hesperia recibe una vez más al festival electrónico del año"
seo_title = "Partai"
seo_description = "Hesperia recibe una vez más al festival electrónico del año"
seo_keywords = "Partai, Partai Paquetes, Isla Margarita, Partai 2018, vuelos a margarita"
robot_index = "index"
robot_follow = "follow"
==
<!--<section class="parallax-section" id="intro" style="background-image: url('https://www.hoteleshesperia.com.ve/storage/app/media/partai/Version-morado.jpg')">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12">

<h3 class="wow bounceIn" data-wow-delay="0.9s">Vuelve el evento eletrónico del año</h3>

<h1 class="wow fadeInUp" data-wow-delay="1.6s">Partaï Margarita Weekend 2018</h1>
</div>
</div>
</div>
</section>
<section class="parallax-section" id="overview">
<div class="container">
<div class="row">
<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">

<h3>La perla del Caribe se prepara una vez más para vibrar al ritmo del House</h3>

<p>Prepara tus sentidos para un fin de semana lleno de buena vibra en la paradisíaca Isla de Margarita. <strong>Hesperia Edén Club</strong> es el epicentro del festival más importante de musica electronica en la región, donde Dj's nacionales e internacionales se dan cita ante más de 5000 personas por casi 4 dias consecutivos de buena musica.</p>

<p><a class="btn btn-danger" href="https://www.hoteleshesperia.com.ve/hotel/hesperia-eden-club" target="_blank">Visitar Hotel</a></p>
</div>
<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qzm6GubH2NY"></iframe>
</div>
</div>
</div>
</div>
</section>
<section class="parallax-section" id="register" style="background-image: url('https://www.hoteleshesperia.com.ve/storage/app/media/partai/parallax.jpg')">
<div class="container">
<div class="row text-center">
<div class="wow fadeInUp col-md-7 col-sm-7 col-md-offset-2 col-sm-offset-2" data-wow-delay="0.6s">

<h2>¡Coming soon!</h2>

<h3>Próximamente disfruta de nuestro Aftermovie 2018</h3>
</div>
</div>
</div>
</section>
<section class="parallax-section" id="speakers">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 wow bounceIn">
<div class="section-title">

<h2>LINE-UP</h2>

<p>HUGO BIANCO • JEAN PIERRE • SALOMÉ • ANDRE BULJAT RAFA MOROS • DIEGO TERAN • VAINC • ABRIL LOVE • JEAN PEREZ HANIE • DEMENZOR • LEAND • RUPERT IONT • PROTOCLUSTER • GHERSI • KEISGNER</p>
</div>
</div>
<div class="slider-3-items" id="owl-speakers">
<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
<div class="speakers-wrapper"><img src="https://www.hoteleshesperia.com.ve/storage/app/media/partai/josephcapriati_1354-770x514.jpg" class="img-responsive fr-fil fr-dib" alt="Joseph Capriati">
<div class="speakers-thumb">

<h3>Joseph Capriati</h3>
</div>
</div>
</div>
<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
<div class="speakers-wrapper"><img src="https://www.hoteleshesperia.com.ve/storage/app/media/partai/jesse%20calosso.jpg" class="img-responsive fr-fil fr-dib" alt="Jesse Calosso">
<div class="speakers-thumb">

<h3>Jesse Calosso</h3>
</div>
</div>
</div>
<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
<div class="speakers-wrapper"><img src="https://www.hoteleshesperia.com.ve/storage/app/media/partai/joey%20daniel.jpg" class="img-responsive fr-fil fr-dib" alt="Joey Daniel">
<div class="speakers-thumb">

<h3>Joey Daniel</h3>
</div>
</div>
</div>
<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
<div class="speakers-wrapper"><img src="https://www.hoteleshesperia.com.ve/storage/app/media/partai/marco%20carola.jpg" class="img-responsive fr-fil fr-dib" alt="Marco Carola">
<div class="speakers-thumb">

<h3>Marco Carola</h3>
</div>
</div>
</div>
<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
<div class="speakers-wrapper"><img src="https://www.hoteleshesperia.com.ve/storage/app/media/partai/martinez%20brothers.png" class="img-responsive fr-fil fr-dib" alt="Martinez Brothers">
<div class="speakers-thumb">

<h3>Martinez Brothers</h3>
</div>
</div>
</div>
<div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
<div class="speakers-wrapper"><img src="https://www.hoteleshesperia.com.ve/storage/app/media/partai/serge-devant.jpg" class="img-responsive fr-fil fr-dib" alt="Serge Devan">
<div class="speakers-thumb">

<h3>Serge Devant</h3>
</div>
</div>
</div>
</div>
</div>
</div>
</section>-->