[viewBag]
title = "Home"
url = "/"
layout = "home-layout"
is_hidden = 0
navigation_hidden = 0
meta_title = "Inicio"
meta_description = "Reserva ahora tu hotel en Venezuela al mejor precio. Valencia, Maracay, Isla Margarita y Maracaibo (próxima apertura)"
seo_title = "Inicio"
seo_description = "Reserva ahora tu hotel en Venezuela al mejor precio. Valencia, Maracay, Isla Margarita y Maracaibo (próxima apertura)"
seo_keywords = "Hoteles en Valencia, Hoteles en Margarita, Hoteles en Isla Margarita, Hotel en Maracay"
canonical_url = "https://hoteleshesperia.com.ve"
robot_index = "index"
robot_follow = "follow"
==
{% put ultimopost %}
<figure data-inspector-id="inspectorid-1161304412871" data-property-linkblog="1" data-snippet="mas-reciente">&nbsp;</figure>

<p>
	<br>
</p>
<!--
<section class="parallax-section" id="restaurantes-index" style="background-image: url('https://www.hoteleshesperia.com.ve/storage/app/media/parallax/parallax-restaurantes-home.jpg')">
<div class="container">
<div class="row text-center">
<div class="wow fadeInUp col-md-offset-2 col-md-8 col-sm-12" data-wow-delay="0.9s">

<h2>Restaurantes</h2>

<p class="lead">En Hesperia tenemos especial predilección por la buena cocina, disfruta de una variedad de restaurantes y bares en nuestros hoteles vacacionales y corporativos.</p>

<h3>¡Atrévete a descubrir!</h3><a class="btn btn-primary" href="https://hoteleshesperia.com.ve/restaurantes">Visitar</a></div>
</div>
</div>
</section>-->
<!--
<section class="section-narrow gradient-section" style="min-height: 400px; background-image: linear-gradient( 135deg, #79F1A4 10%, #0E5CAD 100%); display:block">
<div class="container-fluid">

<h2 class="text-center" style="color:white; padding-bottom: 3rem;">¡Disfruta de la animación en nuestros hoteles vacacionales!</h2>
<div class="slider-3-items">
<div class="col-xs-12 col-sm-12 col-md-12 item">
<div class="thumbnail">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XjtnoK1e9lU" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 item">
<div class="thumbnail">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IlDhsvWN3-o" allowfullscreen=""></iframe>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 item">
<div class="thumbnail">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2olekaltkYo" allowfullscreen=""></iframe>
</div>
</div>
</div>
</div>
</div>
</section>-->

{% endput %}

{% put eventos %}
<figure data-inspector-id="inspectorid-1193211629444" data-property-cantidad="5" data-property-categoria="eventos" data-property-mostrartitulo="0" data-property-numposts="2" data-snippet="filas-post-categorias">&nbsp;</figure>

{% endput %}
==
<figure data-component="PeterHegman\SlickSlider\Components\Slider" data-inspector-id="inspectorid-488751767041" data-property-slide_show_id="1" data-snippet="slider">&nbsp;</figure>