[viewBag]
title = "tienda"
url = "/tienda"
layout = "layout-blank"
is_hidden = 0
navigation_hidden = 0
meta_title = "Tienda"
meta_description = "Productos y servicios exclusivos con la calidad que nos caracteriza"
seo_title = "Tienda"
seo_description = "Productos y servicios exclusivos con la calidad que nos caracteriza"
seo_keywords = "Tienda, Tienda Hesperia, Tratamientos de Spa, Spa en Margarita, entradas a eventos, tickets, eventos en Valencia"
canonical_url = "hoteleshesperia.com.ve/tienda"
robot_index = "index"
robot_follow = "follow"
==
<section class="full-width intro-parallax" id="banner-reserva-hab">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<!--<h3 class="wow bounceIn" data-wow-delay="0.9s">vive en grande en los mejores Hoteles del País</h3>-->

				<h1 class="wow fadeInUp" data-wow-delay="1.6s">Tienda Hesperia</h1>
				<!--  <a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">LEARN MORE</a>-->
				<!--  <a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">REGISTER NOW</a>--></div></div></div>
</section>
<div class="container" style="padding-top: 3em;">
	<div class="col-md-12 text-center">

		<h2>EN HESPERIA LO ENCUENTRAS TODO</h2><em><p class="lead">No solo nos encargamos de que tu estadía sea maravillosa, también te ofrecemos productos y servicios exclusivos con el sello de calidad que nos caracteriza</p></em></div>
	<figure data-component="\HesperiaPlugins\Hoteles\Components\ListaUpselling" data-inspector-id="inspectorid-1346884034072" data-property-codes="72, 69, 64" data-property-moneda="2" data-snippet="ListaUpsellings">&nbsp;</figure>
	<div class="col-md-12 text-center">
		<hr>

		<h2>ESPACIO PARA OTRO TEXTO</h2><em><p class="lead">espacio para mucho mas texto</p></em></div>
	<figure data-component="\HesperiaPlugins\Hoteles\Components\ListaUpselling" data-inspector-id="inspectorid-1346884034073" data-property-codes="131, 69, 64" data-property-moneda="2" data-snippet="ListaUpsellings">&nbsp;</figure>
</div>