description = "Home Layout"

[staticPage]
useContent = 1
default = 0

[CajaReservas]
moneda = 2
redirect = "reservar-habitacion"

[SeoStaticPage]

[googleTracker]
==
<!DOCTYPE html>
<html lang="en">
<head>
    {% component 'SeoStaticPage' %}
<!--
New Event
http://www.templatemo.com/tm-486-new-event
-->
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="{{ 'favicon.ico'|media }}"/>
    <link href="{{ [
        'assets/css/bootstrap.min.css',
        'assets/css/animate.css',
        'assets/css/fontawesome.min.css',
        'assets/css/all.min.css',
        'assets/css/owl.theme.css',
        'assets/css/owl.carousel.css',
        'assets/css/style.css',
        'assets/css/principal.css',
        'assets/css/sweetalert2.min.css',
        'assets/css/custom-style.css',
    ]|theme }}" rel="stylesheet">
    {% styles %}

    <script src="{{ [
        'assets/js/jquery.js',
        'assets/js/bootstrap.min.js',
        'assets/js/jquery.parallax.js',
        'assets/js/owl.carousel.min.js',
        'assets/js/smoothscroll.js',
        'assets/js/wow.min.js',
        'assets/js/custom.js',
        'assets/js/principal.js',
        'assets/jQuery.countdown-master/dist/jquery.countdown.js',
        'assets/js/sweetalert2.min.js',
        ]|theme }}"></script>
    {% scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
</head>

<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
{% component 'googleTracker' %}

    {% framework extras %}

    {% partial 'generales/menu-principal' %}

    {% page %}

    <div class='container-fuild' id="caja-reserva">
      <h2 class="text-center">Reserva Online</h2>
      <h4 class="text-center">Mejor precio garantizado <i class="fa fa-check-circle-o" aria-hidden="true"></i></h4>
      {% component 'CajaReservas' %}
    </div>
    <br>
    
    {% partial 'carousel-hoteles' %}
    
    {% content 'home/detail-index'%}

    {% placeholder paquetes title="Paquetes" %}
        {%content 'home/paquetes-index' %}
    {#{%content 'home/atramape' %}#}

    {% placeholder ultimopost title="ultimo-post" %}

    {% placeholder eventos title="Eventos" %}
          
    {% partial 'generales/footer-principal' %}

{# {% if this.theme.settings_gotop %}
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
{% endif %} #}



</body>



</html>