description = "restaurantes"
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ this.page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ 'favicon.ico'|media }}"/>
<!--
New Event
http://www.templatemo.com/tm-486-new-event
-->
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>
    <link href="{{ [
        'assets/css/bootstrap.min.css',
        'assets/css/animate.css',
        'assets/css/fontawesome.min.css',
        'assets/css/owl.theme.css',
        'assets/css/owl.carousel.css',
        'assets/css/style.css',
    ]|theme }}" rel="stylesheet">
</head>

<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
{% component 'googleTracker' %}

    {% partial 'template/navbar' %}
    {% partial 'template/intro'  %}


    {% partial 'generales/footer-principal' %}

{% if this.theme.settings_gotop %}
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
{% endif %}

    <script src="{{ [
        'assets/js/jquery.js',
        'assets/js/bootstrap.min.js',
        'assets/js/jquery.parallax.js',
        'assets/js/owl.carousel.min.js',
        'assets/js/smoothscroll.js',
        'assets/js/wow.min.js',
        'assets/js/custom.js',
        '@framework',
        '@framework.extras']|theme }}"></script>

</body>
</html>