title = "Mantenimiento"
url = "/mantenimiento"
layout = "layout-mantenimiento"
description = "Pagina que se muestra cuando la web está en mantenimiento"
meta_title = "Mantenimiento"
meta_description = "Estamos en mantemiento en estos momentos, pronto estaremos de regreso"
is_hidden = 0
robot_index = "noindex"
robot_follow = "nofollow"
==
<div class="container-fluid">
	<div class="col-md-10 col-md-offset-1">

		<h1 class="text-center"><i class="fa fa-hourglass-end fa-3x"></i>
			<br>¡No te asustes! Estamos en labores de mantenimiento</h1>

		<p class="lead text-center">En estos momentos nos encontramos renovando nuestra página web
		así que no te desesperes, en breves instantes estaremos de vuelta con muchas sorpresas y el buen servicio que nos caracteriza.
		</p>

	</div>
</div>
