[viewBag]

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/blog"
==
<div class="container-fluid text-center">
  <h2 class="page-header">¡Tienes que estar al día!</h2>
  <p class="lead">Tenemos muchas novedades y actividades que ofrecerte</p>
</div>
<div class="container-fluid">
    <div class="col-md-9 col-sm-9 col-xs-12">
      {% for post in posts %}
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="thumbnail">
            <img src="{{post.featured_images[0].path}}" class="img-responsive">
              <div class="caption">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p class="info">
                    Públicado
                    {% if post.categories.count %} en {% endif %}
                      {% for category in post.categories %}
                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.published_at|date('d M, Y') }}
                </p>
                <p class="excerpt">{{ post.summary|raw }}</p>

            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <h3>Categorias</h3>
      {% if blogCategories.categories %}
          <ul class="nav nav-pills nav-stacked">
            {% for categoria in blogCategories.categories %}
              {% set postCount = categoria.post_count %}
              <li><a href="{{'blog/categoria'|page({slug:categoria.slug})}}">{{categoria.name}} <span class="badge">{{ postCount }}</span> </a></li>
            {% endfor %}
          </ul>
      {% endif %}
      <hr>
    </div>
</div>