<style>

.testimonials {
  //padding: 100px 0;
  margin-top: 5%;
}
.testimonials h3 {
  margin-bottom: 10px;
}
.testimonials .card {
  border-bottom: 3px #007bff solid !important;
  margin-top: 60px;
}
.testimonials .card i {
  background-color: #007bff;
  color: #ffffff;
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: -40px auto 0 auto;
}

</style>

{% if hotel.id == 2%} {# SI ES HIM #}
<section class="section-narrow">

    <div class="container-fluid">
        <div class="row">
          <div class="text-center">
          <h2>TESTIMONIOS</h2>
          <p class="lead">
            Compartimos contigo la opinión de nuestros huéspedes sobre la experiencia Hesperia
          </p>
          </div>
          <div  class="slider-testimonials">
            <div class="item">
              <div class="col-md-6 testimonials">
                <div class="card border-light bg-light text-center">
                  <i class="fa fa-quote-left fa-3x" aria-hidden="true"></i>
                  <div class="card-body blockquote">
                    <br>
                    <p class="lead"><em>La estoy pasando genial, sus instalaciones, su atención... ¡Todo es muy bueno!</em></p>
                    <h4>Aldo de la Cruz <br><small>@aldodelacruz</small></h4>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <video class="img-responsive" src="{{ 'testimonios/testimonio_aldodelacruz.mp4'|media }}" controls></video>
              </div>
            </div>
            <div class="item">
              <div class="col-md-6 testimonials">
                <div class="card border-light bg-light text-center">
                  <i class="fa fa-quote-left fa-3x" aria-hidden="true"></i>
                  <div class="card-body blockquote">
                    <br>
                    <p class="lead"><em>¡Es una maravilla estar aqui!</em></p>
                    <h4>Henry Huamany <br><small>@henryhuamany</small></h4>
                  </div>
                </div>
              </div>
                <div class="col-md-6">
                  <video class="img-responsive" src="{{ 'testimonios/testimonio_henryhuamany.mp4'|media }}" controls></video>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
{% elseif hotel.id == 5 %} {# SI ES HPA #}
<section class="section-narrow">

    <div class="container-fluid">
        <div class="row">
          <div class="text-center">
          <h2>TESTIMONIOS</h2>
          <p class="lead">
            Compartimos contigo la opinión de nuestros huéspedes sobre la experiencia Hesperia
          </p>
          </div>
          <div> {# clase para el carousel#}
            <div class="item">
              <div class="col-md-6 testimonials">
                <div class="card border-light bg-light text-center">
                  <i class="fa fa-quote-left fa-3x" aria-hidden="true"></i>

                  <div class="card-body blockquote">
                    <br>
                    <p class="lead"><em>Este es el mejor Hotel de toda Isla Margarita</em></p>
                    <h4>Alejandra y Paulina Galindo</h4>
                  </div>
                </div>
              </div>
                <div class="col-md-6">
                  <video class="img-responsive" src="{{ 'testimonios/testimonio_alejandragalindo.mp4'|media }}" controls></video>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
{% elseif hotel.id == 4 %} {#SI ES EDEN CLUB #}
<section class="section-narrow">

    <div class="container-fluid">
        <div class="row">
          <div class="text-center">
          <h2>TESTIMONIOS</h2>
          <p class="lead">
            Compartimos contigo la opinión de nuestros huéspedes sobre la experiencia Hesperia
          </p>
          </div>
          <div  class="slider-testimonials">
            <div class="item">
              <div class="col-md-6 testimonials">
                <div class="card border-light bg-light text-center">
                  <i class="fa fa-quote-left fa-3x" aria-hidden="true"></i>
                  <div class="card-body blockquote">
                    <br>
                    <p class="lead">
                      <em>El servicio es super bueno, la animación, la gente tiene un carisma super super lindo</em>
                    </p>
                    <h4>Lizeth Carmona<br><small>@liso_carmona</small></h4>
                  </div>
                </div>
              </div>
                <div class="col-md-6">
                  <video class="img-responsive" src="{{ 'testimonios/testimonio_lisocarmona.mp4'|media }}" controls></video>
                </div>
            </div>
            <div class="item">
              <div class="col-md-6 testimonials">
                <div class="card border-light bg-light text-center">
                  <i class="fa fa-quote-left fa-3x" aria-hidden="true"></i>
                  <div class="card-body blockquote">
                    <br>
                    <p class="lead"><em>¡Desde que llegamos nosotros la hemos pasado increible, maravilloso!</em></p>
                    <h4>Gregorio Carrillo<br><small>@gregoriocarrillo1</small></h4>
                  </div>
                </div>
              </div>
                <div class="col-md-6">
                  <video class="img-responsive" src="{{ 'testimonios/testimonio_gregoriocarrillo.mp4'|media }}" controls></video>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
{% endif %}
